<!DOCTYPE html>
<html lang="en">
	<head> 
		<meta charset = UTF-8 />
		<title>Course Search</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/user-styles.css">
		<link rel="stylesheet" href="../css/course-styles.css">
	</head>
<!--
	Name: Anthony Lombardo
	Date: 05.04.2021
	Section: CS355

	This is the Course Search page for QCFirst. 
	* The first section includes two search bars where the 
	  student first types in the Subject/Course Number. 
	  The student then types the Term/Semester that they 
	  would like to search for (Might change to a Select form). 
	* Once the search button is clicked, a section displays 
	  the number of results that has been returned 
	* Once the search button is clicked, a table is also returned 
	  and it displays each course that a student could be enroll in, 
	  depending if it's available or not, given a symbol 
	  (Green Circle = Available/Red Circle = Unavailable). 
	* If the user is viewing this page on a mobile device, the table 
	  is converted into a section that includes a dropdown list where each 
	  option provides course information for each result, a notification bell
	  gives the user the option to save a course for later (Notified Courses),
	  an availability section that tells the user if the class 
	  is available or not, and an enroll button.
-->
	<body>
		<!--Page Header-->
		<div class="topnav">
			<!--QC Logo-->
			<a href="/studentcenter" class="logo"> 
				<img src="img/qc_logo.jpg" width=120 alt="QC Logo"/> 
			</a>
			<!--Dropdown Navigation Menu Stored in User Icon-->
			<nav class="nav-menu">
				<div class="dropdown-toggle"> 
					<!--User Photo: https://stock.adobe.com/290580606?tduid=971268d0957d9995b1e6a74288ca7071&as_channel=affiliate&as_campclass=redirect&as_source=arvato&asset_id=290580351-->
					<% if (avatar.contentType != null) { %>
						<img src="data:image/<%=avatar.contentType%>;base64,<%=avatar.data.toString('base64')%>" width=50 height=50 id="user-icon" alt="Profile Photo" />
					<% } else { %>
						<img src="img/default-user.png"  height=50 width=50 alt="Profile Photo" /> 
					<% } %>				
				   <!--Links That Direct to Home (Student Center), Settings, and Sign Out (Homepage)-->
					<nav class="dropdown-list">
						<a href="/studentcenter" class="dropdown-link">Home</a> <br>
						<a href="/settings" class="dropdown-link">Settings</a> <br>
						<a href="/signout" class="dropdown-link">Sign Out</a>
					</nav>
				</div>
			</nav>
		</div> <!--End of Page Header-->
		<h1>Course Search</h1> <!--Page Heading-->
		<% if (courseError != null) { %>
			<h2 class="course-error"><%= courseError %></h2>
		<% } %>
		<!--Area Where User Enters and Submits Search Information (Subject/Course & Term/Semester)-->
		<div class = "Search-Section"> 
			<div class="form">
				<form action="/coursesearch" method="POST" id="subject-form">
					<label for="subject"> Subject</label> <br>
					<select name="subject" id="subject">
						<option value="" selected="selected">&nbsp; </option>
						<option value="AACS">AACS - Asian Amer Commun. Std</option>
						<option value="ACCT">ACCT - Accounting</option>
						<option value="AFST">AFST - Africana Studies</option>
						<option value="ANTH">ANTH - Anthropology</option>
						<option value="ARAB">ARAB - Arabic</option>
						<option value="ARTH">ARTH - Art History</option>
						<option value="ARTS">ARTS - Studio Art</option>
						<option value="ASL">ASL - American Sign Language</option>
						<option value="ASTR">ASTR - Astronomy</option>
						<option value="BALA">BALA - Business &amp; Liberal Arts</option>
						<option value="BIOCH">BIOCH - Bio-Chemistry</option>
						<option value="BIOL">BIOL - Biology</option>
						<option value="BUS">BUS - Business</option>
						<option value="CHEM">CHEM - Chemistry</option>
						<option value="CHIN">CHIN - Chinese</option>
						<option value="CLAS">CLAS - Classics</option>
						<option value="CMAL">CMAL - Clas, Mid East &amp; Asian</option>
						<option value="CMLIT">CMLIT - Comparative Literature</option>
						<option value="CO-OP">CO-OP - Cooperative Education</option>
						<option value="CSCI">CSCI - Computer Science</option>
						<option value="DANCE">DANCE - Dance</option>
						<option value="DATA">DATA - Data Analytics</option>
						<option value="DRAM">DRAM - Drama and Theatre</option>
						<option value="EAST">EAST - East Asian Studies</option>
						<option value="ECON">ECON - Economics</option>
						<option value="ECPCE">ECPCE - Counselor Education</option>
						<option value="ECPEL">ECPEL - Educ Comm Prog-Leader</option>
						<option value="ECPSE">ECPSE - Special Education</option>
						<option value="ECPSP">ECPSP - School Psychology</option>
						<option value="EECE">EECE - Elem &amp; Early Childhood</option>
						<option value="ENGL">ENGL - English</option>
						<option value="ENSCI">ENSCI - Environmental Science</option>
						<option value="EURO">EURO - European Studies</option>
						<option value="FNES">FNES - Family, Nut &amp; Exercis</option>
						<option value="FREN">FREN - French</option>
						<option value="GEOL">GEOL - Geology</option>
						<option value="GERM">GERM - German</option>
						<option value="GREEK">GREEK - Greek</option>
						<option value="GRKMD">GRKMD - Modern Greek</option>
						<option value="GRKST">GRKST - Byzan &amp; Mdrn Greek St</option>
						<option value="HEBRW">HEBRW - Hebrew</option>
						<option value="HIST">HIST - History</option>
						<option value="HMNS">HMNS - Honors in Math &amp; Sci</option>
						<option value="HNRS">HNRS - Honors</option>
						<option value="HSS">HSS - Honors in Social Science</option>
						<option value="HTH">HTH - Honors in the Humanities</option>
						<option value="IRST">IRST - Irish Studies</option>
						<option value="ITAL">ITAL - Italian</option>
						<option value="JAZZ">JAZZ - Jazz</option>
						<option value="JEWST">JEWST - Jewish Studies</option>
						<option value="JPNS">JPNS - Japanese</option>
						<option value="KOR">KOR - Korean</option>
						<option value="LABST">LABST - Labor Studies</option>
						<option value="LATIN">LATIN - Latin</option>
						<option value="LBSCI">LBSCI - Library Science</option>
						<option value="LCD">LCD - Ling &amp; Commun Disorders</option>
						<option value="LIBR">LIBR - Library</option>
						<option value="MATH">MATH - Mathematics</option>
						<option value="MEDST">MEDST - Media Studies</option>
						<option value="MES">MES - Middle Eastern Studies</option>
						<option value="MUSIC">MUSIC - Music</option>
						<option value="PHIL">PHIL - Philosophy</option>
						<option value="PHYS">PHYS - Physics</option>
						<option value="PORT">PORT - Portuguese</option>
						<option value="PSCI">PSCI - Political Science</option>
						<option value="PSYCH">PSYCH - Psychology</option>
						<option value="PHOTO">Photography</option>
						<option value="QNS">QNS - Queens</option>
						<option value="RLGST">RLGST - Religious Studies</option>
						<option value="RM">RM - Risk Management</option>
						<option value="RUSS">RUSS - Russian</option>
						<option value="SEEK">SEEK - SEEK Academic Program</option>
						<option value="SEYS">SEYS - Secondary Edu &amp; Youth</option>
						<option value="SEYSL">SEYSL - Sec Educ: Literacy Edu</option>
						<option value="SOC">SOC - Sociology</option>
						<option value="SPAN">SPAN - Spanish</option>
						<option value="STPER">STPER - Student Personnel</option>
						<option value="URBST">URBST - Urban Studies</option>
						<option value="WGS">WGS - Women and Gender Studies</option>
					</select>
					<label for="course"> Course Number</label> <br>
						<input type="number" name="course" id="course" placeholder="Enter a Subject or Course"/> <br>
					<label for="semester">Semester</label> <br>
					<select name ="semester" id="semester-dropdown">
						<option value="Summer 2021">Summer 2021</option>
						<option value="Fall 2021">Fall 2021</option>
						<option value="Winter 2022">Winter 2022</option>
						<option value="Spring 2022">Spring 2022</option>
					  </select>
					<input class="button" type="submit" value="Search"/>
				</form>
			</div>
		</div>
		<% if (courseError == null) { %>
			<!--Section Where Number of Matching Results are Shown-->
			<section class="Result-Section">
				<div class="search-output">
					<div class="search-left"><h2>Search Results:</h2></div>
					<% if (courseCount>=2) { %>
						<div class="search-right"><h2><%= courseCount %>  Courses Found</h2></div>
					<% } else { %>
						<div class="search-right"><h2> 1 Course Found</h2></div>
					<% } %>
				</div>
			</section>
			<!--Table That Displays Each Matching Course Result (Regardless if They Are Available or Not Available)-->
			<div class="Class-Selection">
				<table>
					<tr>
						<th></th>
						<th>Course Name</th>
						<th>Instructor</th>
						<th>Course Days</th>
						<th>Course Time</th>
						<th>Availability</th>
						<th>Notify Me!</th> <!--This to Notify Student if Course is Available or Not-->
						<th></th> <!--This is for the Enroll Button-->
					</tr>
					<% courseresults.forEach(course => { %>
						<tr>
							<td><form method="post" id="<%= course.coursename %>|<%= course.instructor %>|<%= course.coursedays %>|<%= course.coursetime %>|<%=course.semester %>"><input type="hidden" name="course" value="<%= course.coursename %>|<%= course.instructor %>|<%= course.coursedays %>|<%= course.coursetime %>|<%=course.semester %>"></form></td>
							<td><%= course.coursename %></td>
							<td><%= course.instructor %></td>
							<td><%= course.coursedays %></td>
							<td><%= course.coursetime %></td>
							<% if (course.studentsenrolled >= course.capacity) { %>
								<td> <img class="availability-icon" src="img/Red_Circle.png" height=40 width=40 alt="This Class is Currently Unavailable" /> </td>
							<% } else { %>
								<td> <img class="availability-icon" src="img/Green_Circle.png" height=40 width=40 alt="This Class is Currently Available"/> </td>
							<% } %>
								<td> <input type="image" formaction="/addnotification" form="<%= course.coursename %>|<%= course.instructor %>|<%= course.coursedays %>|<%= course.coursetime %>|<%=course.semester %>" class="notification-bell" src="img/notification-bell.png" alt="Notification Bell" width=40 height=40 /> </td>
							<% if(todaysDate < course.enrollmentdeadline && course.studentsenrolled < course.capacity) { %>
								<td> <input type="submit" form="<%= course.coursename %>|<%= course.instructor %>|<%= course.coursedays %>|<%= course.coursetime %>|<%=course.semester %>" formaction="/enrollment" value="Enroll"></td>
							<% } else { %>
								<td></td>
							<% } %>
						</tr>
					<% }); %>
				</table>
			</div> <!--End of Class-Selection-->
			<!--In Mobile, This Replaces the Class-Selection Section (Result Table)-->
			<div class = "mobile-selection">
				<!--Dropdown Menu Containing Course Results-->
				<form action="/enrollment" method="POST" id = "mobile-enroll">
					<label for="courses">Select a Course to Enroll In</label>
					<input type="image" formaction="/addnotification" form="mobile-enroll" class="notification-bell" src="img/notification-bell.png" alt="Notification Bell" width=40 height=40 />
					<select name="course" id="courses">
						<% for( let i = 0; i < courseresults.length; i++ ) { %>
							<option value="<%= courseresults[i].coursename %>|<%= courseresults[i].instructor %>|<%= courseresults[i].coursedays %>|<%= courseresults[i].coursetime %>|<%=courseresults[i].semester %>|<%= courseresults[i].capacity - courseresults[i].studentsenrolled%>|<%= courseresults[i].enrollmentdeadline%>"> <%= courseresults[i].coursename %> (<%= courseresults[i].mobiledays %>) - <%= mobileInstructor[i] %> at <%= courseresults[i].coursetime %></option>
						<% } %>
					</select>
					<br>
					<!--This Informs the Student if the Course is Available or Not-->
					<div id="availability">
						<h3>Availability Status: </h3>
						<img class="availability-icon" src="img/Green_Circle.png" height=40 width=40 alt="This Class is Currently Available"/>	
					</div>
					<!--Submits Given Selection-->
					<div id="check-submit"></div>
				</form>
			</div>
		<% } %>
		<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
		></script>
		<script src="../js/search-script.js"></script>
	</body>
</html>