<!DOCTYPE html>
<!--
	Name: Anthony Lombardo
	Date: 05.04.2021
	Section: CS355

	  This is the Faculty Center page for QCFirst. 
	* It includes an Options sections that provides links to 
	  the Create a Class page and Blackboard. 
	* There's also a Courses section that provides the current schedule. 
	- The section also provides a select form that goes through the 
	  Instructor's teaching schedules from different semesters.
-->
<html lang="en">
	<head> 
		<meta charset = UTF-8 />
		<title>Faculty Center</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/user-styles.css">
		<link rel="stylesheet" href="../css/center-styles.css">
	</head>
	<body>
		<!--Page Header-->
		<div class="topnav">
			<!--QC Logo-->
			<a href="/facultycenter" class="logo"> 
				<img src="img/qc_logo.jpg" width=120 alt="QC Logo"/> 
			</a>
			<!--Dropdown Navigation Menu Stored in User Icon-->
			<nav class="nav-menu">
				<div class="dropdown-toggle"> 
					<!--User Photo: https://stock.adobe.com/290580606?tduid=971268d0957d9995b1e6a74288ca7071&as_channel=affiliate&as_campclass=redirect&as_source=arvato&asset_id=290580351-->
					<img src="img/default-user.png" width=50 alt="Profile Photo" /> 
					<!--Links That Direct to Home (Student Center), Settings, and Sign Out (Homepage)-->
					<nav class="dropdown-list">
						<a href="/facultycenter" class="dropdown-link">Home</a> <br>
						<a href="/settings" class="dropdown-link">Settings</a> <br>
						<a href="/signout" class="dropdown-link">Sign Out</a>
					</nav>
				</div>
			</nav>
		</div> <!--End of Page Header-->
		<h1>Welcome to Faculty Center, <br> <%= name %> </h1> <!--Page Heading-->
		<section class="main-faculty-section"> <!--Section That Contains Link Options and Course Schedule (Depending on Selected Semester/Term)-->
			<div class="row">
				<!--Left Column That Displays the Option Links-->
				<div class="left-side">
					<h2>Options</h2>
					<!--Links That Direct to Create a Class and Blackboard-->
					<div class="container">
						<a href="/createacourse" class="link"> Create a Course <br/></a>
						<a href="https://bbhosted.cuny.edu/"> Blackboard <br/></a>
					</div>
				</div>
				<!--Right Column That Displays the Course Schedule (Heading, Dropdown List, Table)-->
				<div class="right-side">
					<!--Row That Displays the Course Schedule Heading and Dropdown List That Includes Semester Options-->
					<div class="left"><h2 class="heading">Courses</h2> </div>
					<div class="select-form">
						<form action="/facultycenter" method="POST">
							<label for="semester">Select Semester</label>
							<select id="semester" name="semester">
								<option value="">Select one...</option>
								<option value="Summer 2021">Summer 2021</option>
								<option value="Fall 2021">Fall 2021</option>
								<option value="Winter 2022">Winter 2022</option>
								<option value="Spring 2022">Spring 2022</option>
							</select>
							<input type="submit" value="Confirm">
						</form>
					</div>
					<div class="table">
					<!--Since This Table has Three Columns, This Schedule Will be Shown on all Devices-->
					<% if (tableError != null) { %>
						<h2> <%= tableError %> </h2>
					<% } else { %>
						<table class="schedule">
							<tr>
								<th></th>
								<th></th> <!--This is the info button for each class-->
								<th>Course Name</th>
								<th>Course Days</th>
								<th>Course Time</th>
							</tr>
							<% courseresults.forEach(course => { %>
							<tr>
								<td><form method="post" id="<%= course.coursename %>|<%= course.instructor %>|<%= course.coursedays %>|<%= course.coursetime %>|<%=course.semester %>"><input type="hidden" name="course" value="<%= course.coursename %>|<%= course.instructor %>|<%= course.coursedays %>|<%= course.coursetime %>|<%=course.semester %>"></form></td>
								<td>
									<img class="info-button" src="img/info-button.png" height=25 width=25 alt="Button to Display Course Information"/>
									<div class="modal">
										<div class="modal-content">
											<header class="modal-header">
												<span class="closeinfo">&times;</span>
												<h2>Course Info:</h2>
											</header>
											<p>Course Name: <%= course.coursename %> </p>
											<p>Semester: <%= course.semester %> </p>
											<p>Department: <%= course.department %> </p>
											<p>Enrollment Total: <%= course.studentsenrolled %>/<%= course.capacity %></p>
											<button class="delete-button" type="button">Remove Course</button>
											<button class="roster-button" type="button">Show Roster</button>
										</div>
									</div>
									<div class="roster-modal">
										<div class="modal-content">
											<header class="modal-header">
												<span class="closeroster">&times;</span>
												<h2>Student Roster:</h2>
											</header>
											<% if (course.studentroster !="") { %>
												<table>
													<% var studentroster = course.studentroster.split(", "); %>
													<% for(i = 1; i<studentroster.length+1; i++) { %>
													<tr>
														<td><%= i %>)</td>
														<td><%= studentroster[i-1] %></td>
													</tr>
													<% } %>
												</table>
											<% } else { %>
												<table>
													<td></td>
													<td>No students have enrolled in this course yet</td>
												</table>
											<% } %>
										</div>
									</div>
									<div class="drop-modal">
										<div class="drop-warning">
											<header class="modal-header">
												<span class="closewarning">&times;</span>
												<h2>Are You Sure You Want to Remove This Course?</h2>
											</header>
											<button type="submit" form="<%= course.coursename %>|<%= course.instructor %>|<%= course.coursedays %>|<%= course.coursetime %>|<%=course.semester %>" formaction="/dropfacultycourse" class="yes-button">YES</button>
											<button type="button" class="no-button">NO</button>
										</div>
									</div>
								</td>
								<td><%= course.coursename %></td>
								<td><%= course.coursedays %></td>
								<td><%= course.coursetime %></td>
							</tr>
							<% }); %> 
						</table>
					</div> <!--End of Table-->
					<% } %> 
				</div> <!--End of Right Column-->
			</div> <!--End of Row-->
		</section> <!--End of Main Section-->
		<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
		></script>
		<script src="../js/center-script.js"></script>
	</body>
</html>