<!DOCTYPE html>
<!--
	Name: Anthony Lombardo
	Date: 05.04.2021
	Section: CS355

	  This is the Student Center page for QCFirst. 
	* It includes an Options sections that provides links to 
	  the Course Search page, Blackboard, and Degreeworks. 
	* There's a Courses section that provides the current schedule. 
	- The section also provides a select form that goes through schedules 
	  from different semesters as well as a notified schedule that holds 
	  all of the courses that the student clicked the Notification Bell on 
	  (This works similarly to the enroll page on CUNYFirst).
	* The next section informs the student if they have 
	  any holds on their accounts.
-->
<html lang="en">
	<head> 
		<meta charset = UTF-8 />
		<title>Student Center</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/user-styles.css">
		<link rel="stylesheet" href="../css/center-styles.css">
	</head>
	<body>
		<!--Page Header-->
		<div class="topnav">
			<!--QC Logo-->
			<a href="/studentcenter" class="logo"> 
				<img src="img/qc_logo.jpg" width=120 alt="QC Logo"/> 
			</a>
			<!--Dropdown Navigation Menu Stored in User Icon-->
			<nav class="nav-menu">
				<div class="dropdown-toggle"> 
					<!--User Photo: https://stock.adobe.com/290580606?tduid=971268d0957d9995b1e6a74288ca7071&as_channel=affiliate&as_campclass=redirect&as_source=arvato&asset_id=290580351-->
					<img src="img/default-user.png" width=50 alt="Profile Photo" /> 
					<!--Links That Direct to Home (Student Center), Settings, and Sign Out (Homepage)-->
					<nav class="dropdown-list">
						<a href="/studentcenter" class="dropdown-link">Home</a> <br>
						<a href="/settings" class="dropdown-link">Settings</a> <br>
						<a href="/signout" class="dropdown-link">Sign Out</a>
					</nav>
				</div>
			</nav>
		</div> <!--End of Page Header-->
		<h1> Welcome to Student Center, <br> <%= name %> </h1> <!--Page Heading-->
 		<!--Section That Contains Link Options and Course Schedule (Depending on Selected Semester/Term)-->
		<section class="main-section">
			<div class="row">
				<!--Left Column That Displays the Option Links-->
				<div class="left-side">
					<h2>Options</h2>
					<!--Links That direct to Course Search, Blackboard, and Degreeworks-->
					<div class="container">
						<a href="/coursesearch"> Course Search <br/></a>
						<a href="https://bbhosted.cuny.edu/"> Blackboard <br/></a>
						<a href="https://degreeworks.cuny.edu/"> Degreeworks <br/></a>
					</div>
				</div>
				<!--Right Column That Displays the Course Schedule (Heading, Dropdown List, Table)-->
				<div class="right-side">
					<!--Row That Displays the Course Schedule Heading and Dropdown List That Includes Semester Options--> 
					<div class="left"><h2 class="heading">Courses</h2> </div>
					<div class="select-form">
						<form action="/studentcenter" method="POST">
							<label for="semester">Select Semester</label>
							<select id="semester" name="semester">
								<option value="" selected>Select one...</option>
								<option value="notified">Notified Courses</option>
								<option value="Summer 2021">Summer 2021</option>
								<option value="Fall 2021">Fall 2021</option>
								<option value="Winter 2022">Winter 2022</option>
								<option value="Spring 2022">Spring 2022</option>
							</select>
							<input type="submit" value="Confirm">
						</form>
					</div>
					<div class="table">
					<% if (tableError != null) { %>
						<!--This informs the Student if they are not notified/enrolled in any classes-->
						<h2> <%= tableError %> </h2>
					<% } else if (semester == "notified") { %>
						<table class="notified-schedule">
							<tr>
								<th></th> <!--This is the info button for each class-->
								<th>Course Name</th>
								<th>Instructor</th>
								<th>Availability</th>
								<th></th> <!--If the Enroll Button is clicked on, the Selected Course goes to the Schedule Table That Matches the Selected Course's Semester-->
							</tr>
							<% courseresults.forEach(course => { %>
								<tr>
									<td>
										<img class="info-button" src="img/info-button.png" height=25 width=25 alt="Button to Display Course Information"/>
										<div class="modal">
											<div class="modal-content">
												<header class="modal-header">
													<span class="closeinfo">&times;</span>
													<h2>Course Info:</h2>
												</header>
												<p>Course Name: <%= course.coursename %> </p>
												<p>Instructor: <%= course.instructor %></p>
												<p>Semester: <%= course.semester %> </p>
												<p>Course Days: <%= course.coursedays %> </p>
												<p>Course Time: <%= course.coursetime %> </p>
												<p>Description: <%= course.description %> </p>
												<p>Available Seats: <%= course.capacity - course.studentsenrolled %></p>
												<% if(todaysDate < course.enrollmentdeadline) { %>
												<p>Enrollment Deadline: <%= course.enrollmentdeadline.toLocaleString().split(',')[0] %> </p>
												<% } else { %>
												<p>Enrollment Deadline: Passed </p>
												<% } %>
												<button class="delete-button" type="button">Unnotify Me</button>
											</div>
										</div>
										<div class="drop-modal">
											<div class="drop-warning">
												<header class="modal-header">
													<span class="closewarning">&times;</span>
													<h2>Are You Sure You Do Not Want to be Notified?</h2>
												</header>
												<button type="button" class="yes-button">YES</button>
												<button type="button" class="no-button">NO</button>
											</div>
										</div>
									</td>
									<td><%= course.coursename %></td>
									<td><%= course.instructor %></td>
									<% if (course.studentsenrolled < course.capacity) { %>
									<td> <img class="availability-icon" src="img/Green_Circle.png" height=40 width=40 alt="This Class is Currently Available" /> </td>
									<td> <a href="" class="enroll-button">Enroll</a> </td>		
									<% } else { %>
									<td> <img class="availability-icon" src="img/Red_Circle.png" height=40 width=40 alt="This Class is Currently Unavailable"/> </td>
									<% } %>
								</tr>
								<% }); %>
						</table>
					<% } else { %>
						<!--This is the schedule that will be shown on all devices-->
						<table class="schedule">
							<tr>
								<th></th> <!--This is the info button for each class-->
								<th>Course Name</th>
								<th>Instructor</th>
								<th>Course Days</th>
								<th>Course Time</th>
							</tr>
							<% courseresults.forEach(course => { %>
							<tr>
								<td>
									<img class="info-button" src="img/info-button.png" height=25 width=25 alt="Button to Display Course Information"/>
									<div class="modal">
										<div class="modal-content">
											<header class="modal-header">
												<span class="closeinfo">&times;</span>
												<h2>Course Info:</h2>
											</header>
											<p>Course Name: <%= course.coursename %></p>
											<p>Instructor: <%= course.instructor %></p>
											<p>Course Days: <%= course.coursedays %></p>
											<p>Course Time: <%= course.coursetime %></p>
											<p>Semester: <%= course.semester %></p>
											<p>Description: <%= course.description %></p>
											<button class="delete-button" type="button">Remove Course</button>
										</div>
									</div>
									<div class="drop-modal">
										<div class="drop-warning">
											<header class="modal-header">
												<span class="closewarning">&times;</span>
												<h2>Are You Sure You Want to Remove This Course?</h2>
											</header>
											<button type="button" class="yes-button">YES</button>
											<button type="button" class="no-button">NO</button>
										</div>
									</div>
								</td>
								<td><%= course.coursename %></td>
								<td><%= course.instructor %></td>
								<td><%= course.coursedays %></td>
								<td><%= course.coursetime %></td>
							</tr>
						<% }); %> 
						</table>
					<% } %> 
					</div>				
				</div> <!--End of Right Column-->
			</div> <!--End of Row-->
		</section> <!--End of main-section-->
		<!--Section That Displays Payments That Are Due (Left Column) and Holds (Right Column)-->
		<section class="payment-hold-section">
			<div class="row">
				<!--Column That Displays Amount due on Payments-->
				<div class="left-side">
					<h2>Payment</h2>
					<p>Amount Due: $3,765.21</p>
					<a href="" class="button">Pay Now</a>
				</div>
				<!--Column That Displays any Account Holds-->
				<div class="right-side">
					<h2>Holds</h2>
					<p>You Currently Have No Holds</p>
				</div>
			</div>
		</section>
		<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
		></script>
		<script src="../js/center-script.js"></script>
	</body>
</html>