<% users.forEach(post => { %>
    <tr>
        <td><%= i + 1 %></td>
        <td><%= users[i].name %></td>
        <td><%= users[i].userid %></td>
        <td><%= users[i].role %></td>
        <td><%= users[i].email %></td>
        <td><%= users[i].password %></td>
        
    </tr>
<% } %>
